streamlit
google-generativeai
python-docx
Pillow<=10.2.0
pandas
openpyxl
groq
duckduckgo-search>=5.0.0
docx2txt
faiss-cpu==1.8.0
opencv-python-headless==4.9.0.80
markdown
reportlab==4.1.0
xhtml2pdf==0.2.11
PyPDF2
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
pytesseract
